#map{
    position: absolute;
    height: 400px;
    width: 400px;
    margin: 10rem 50rem;
}

#circle{
    margin: 5rem auto;
    height: 50px;
    width: 50px;
    background-color: black;
}

.leaflet-popup-content{
    font-weight: bold;
}

#text{
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 100px;
    color: white;
}
